/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* FONT */
body {
    font-family: Arial, sans-serif;
}

/* LAYOUT */
.container {
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: calc(100% / 3 - 40px);
    margin: 20px;
}

/* POSITIONING */
.content {
    position: relative;
}

.content img {
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.label {
    position: absolute;
    bottom: 40px;
    left: 0px;
}

.heart {
    position: absolute;
    top: 10px;
    right: 0px;
    text-align: center;
    padding: 1px 11px;
    background-color: white;
    font-size: 30px;
}

/* UTILITY */
.bold {
    font-weight: bold;
}

.discount {
    background-color: red;
    padding: 5px 8px;
    color: white;
    font-size: 11px;
}

.sustainability {
    background-color: green;
    padding: 5px 8px;
    color: white;
    font-size: 11px;
}

.brand {
    font-size: 13px;
}

.price {
    font-size: 14px;
}

.product {
    font-size: 13px;
}

.line-through {
    text-decoration: line-through;
}

.red-text {
    color: red;
    margin-right: 4px;
}